*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hrcontainer{
    height: 100px;
    background-color: #eeb1b1; 
}
.hrnav{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left:70% ;
}
#hrlink{
    padding: 20px;
    margin-top: 15px;
    text-decoration: none;
}